<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 생략 -->
  </connectionStrings>

  <appSettings>
    <add key="MinPoolSize" value="5" />
    <add key="MaxPoolSize" value="20" />
    <add key="ConnectionTimeout" value="30" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="P72BW.Service.P72BWService" behaviorConfiguration="P72BWServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="P72BW.SC.IP72BWService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://blockmap.hhi.co.kr/Services/P72BWService/P72BWService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="P72BWServiceBehavior">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="02:00:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
          <readerQuotas maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="Services/P72BWService/P72BWService.svc" service="P72BW.Service.P72BWService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime maxRequestLength="51200" executionTimeout="300" />
    <sessionState mode="Off" />
  </system.web>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
    </DbProviderFactories>
  </system.data>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="P72BWService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
