<?xml version="1.0" encoding="utf-8" ?>
<hhi.configuration>
	
	<!-- DB 연결 설정(sid.계정.오라클 드라이버 타입) -->
	<databaseSection defaultDatabase="C72AOP">
		<add name="C72AOP" connectionString="data source=//IP주소:1521/SID;user id=계정;password=암호;Pooling=true;Min Pool Size=3;Max Pool Size=5;Connection Lifetime=120;Connection Timeout=30;Incr Pool Size=1;Decr Pool Size=1;Validate Connection = true" type="HHI.Data.OracleClient.OracleDbAccess, HHI.Data.OracleClient" />
	</databaseSection>

	<serviceModelSection>
    <!-- Address-->
    <!-- 우드워커 통합로그 ServiceAddress 예시는 개발 url
         수정 금지-->
    <addresses defaultAddress="Wdx.Log.ServiceAddress">
      <!-- 우드워커 통합로그 서비스 URL-->
      <add name="Wdx.Log.ServiceAddress" url="http://dev-log.wdworker.hhi.co.kr" />
    </addresses>
		<bindings defaultBinding="customBinding">
			<add name="customBinding" behaviorConfiguration="LargeObjectServiceBehavior"
					 binding="customBinding" bindingConfiguration="customBinding" />
		</bindings>
	</serviceModelSection>

	<!-- XML Query 관리 설정(DataMapper) -->
	<sqlMapSection>
    <!--AppCode(3자리/대문자).업무적인이름.Mapper 형식-->
    <!-- 교육용 Mapper -->
    <queryMapConfig name="P72B.Core.Mapper" dataSource="C72AOP"  typeConverter="HHI.Data.DMF.OracleTypeConverter, HHI.Data.DMF">
      <queryResource>
        <add path="QXML/Oracle" />
      </queryResource>
    </queryMapConfig>
	</sqlMapSection>

  <!--<fileServerSection defaultServer="NasLocal" buffersize="512" >
    <add name="Nas1" type="SMB" id="id" pass="password" domain="domain" rootPath="\\127.0.0.1\Nas1" />
    <add name="NasLocal" type="SMB" id="" pass="" domain="" rootPath="D:\NasTest" />
  </fileServerSection>-->
	<!-- 허용되는 인증정보 키 -->
	<securitySection validateKey='true'>
		<allowKeys>
			<add key='5534CFB824E14A31B066D3A6192ED30BC8D23B41ABB64B6E8F1FF7D2F3F1A794'/>
		</allowKeys>
	</securitySection>

  <bizServiceSection>
    <!-- 비즈니스 모듈(DLL) 목록을 나열한다. -->
    <bizModules>
      <!--HDxBuilder EDU 비즈니스 모듈-->
      <add name="HDxBuilder.Windows.Edu.BizMDL" />
	  <add name="P72B.Core.BizModule" />
    </bizModules>
  </bizServiceSection>

	<!-- 로그 설정 -->
	<logSection>
		<loggers filter="Verbose">
			<!--쿼리서비스 실행 파일로그 설정값-->
			<logger name="HHI.ServiceModel.Standard.QueryService" type="HHI.Diagnostics.Loggers.TextFileLogger">
				<property name="FilePrefix" value="QueryService"/>
				<!-- 배포시의 로그 폴더는 D:\Log\Application\{AppCode}\ 로 지정할것.
             개발시는 C:\Temp\WDLog\ 로 사용-->
				<property name="Directory" value="C:\Temp\WDLog\"/>
				<property name="MaxSize" value="10MB"/>
			</logger>
			<!--비즈서비스 실행 파일로그 설정값-->
			<logger name="HHI.ServiceModel.Standard.BizService" type="HHI.Diagnostics.Loggers.TextFileLogger">
				<property name="FilePrefix" value="BizService"/>
				<!-- 배포시의 로그 폴더는 D:\Log\Application\{AppCode}\ 로 지정할것.
             개발시는 C:\Temp\WDLog\ 로 사용-->
				<property name="Directory" value="C:\Temp\WDLog\"/>
				<property name="MaxSize" value="10MB"/>
			</logger>

			<!--다이나믹쿼리 파일로그-->
			<logger name="HHI.Data.DMF.DyanmicQueryLog" filter="Information" type="HHI.Diagnostics.Loggers.TextFileLogger, HHI">
				<property name="fileprefix" value="DyanmicQueryLog"/>
				<property name="directory" value="C:\Temp\WDLog\"/>
				<property name="creation" value="Daily"/>
			</logger>

			<!--우드워커 로그인,패스워드관련 로그설정값-->
			<logger name="WdxLoginLog" type="HHI.ServiceModel.Diagnostics.ServiceLogger, HHI.ServiceModel">
				<property name="AddressName" value="Wdx.Log.ServiceAddress"/>
			</logger>

			<!--쿼리로그 우드워커 REST서비스 호출 설정값-->
			<logger name="WdxQueryLog" type="HHI.Data.Diagnostics.WdxQueryLogger, HHI.Data">
				<property name="URL" value="http://dev-log.wdworker.hhi.co.kr/rest/QueryLog/SaveQueuryLog"/>
			</logger>
		</loggers>
	</logSection>
	<!--우드워커에서 발생하는 모든 로그를 PostgreSQL로 공통으로 저장하는 로그서비스에 대한 설정
  (logSection과 쌍으로 설정)
  -->
	<ServiceLogSection>
		<ServiceLog enabled="true" >
			<provider name="WdxServiceLog" type="HHI.ServiceModel.Diagnostics.ServiceLogProvider, HHI.ServiceModel" logger="WdxLoginLog"/>
		</ServiceLog>
	</ServiceLogSection>
	<!--쿼리로그 활성화 : 로그 끌때는 queryLog enabled="false"로 할것.-->
	<queryLogSection>
		<queryLog enabled="true" executionTime="0" >
			<provider type="HHI.Data.Diagnostics.QueryLogProvider, HHI.Data" argument="WdxQueryLog"/>
		</queryLog>
	</queryLogSection>

</hhi.configuration>
