<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="P72BWServiceBinding"
                 maxReceivedMessageSize="262144000"
                 maxBufferSize="262144000"
                 sendTimeout="02:00:00"
                 receiveTimeout="02:00:00">
          <readerQuotas maxStringContentLength="262144000" />
        </binding>
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="wsHttpBinding" maxReceivedMessageSize="655360">
          <readerQuotas maxStringContentLength="655360"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>

      <customBinding>
        <binding name="customBinding">
          <textMessageEncoding>
            <readerQuotas maxStringContentLength="65536000" maxArrayLength="65536000"/>
          </textMessageEncoding>
          <httpTransport />
        </binding>
      </customBinding>

      <webHttpBinding>
        <binding name="webBinding" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="65536000" maxArrayLength="65536000" />
        </binding>
        <binding name="webHttpTransportSecurity" maxBufferSize="65536000" maxReceivedMessageSize="65536000" >
          <readerQuotas maxStringContentLength="65536000" maxArrayLength="65536000" />
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
      
      
    </bindings>

    <client>
      <endpoint address="http://blockmap.hhi.co.kr/Services/P72BWService/P72BWService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="P72BWServiceBinding"
                contract="P72BW.SC.IP72BWService"
                name="P72BWServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>
